* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;

    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --footer-color: hsl(220, 1%, 97%);
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .section {
    padding: 50px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  .title {
    color: var(--dark-grayish-blue);
    font-weight: 600;
  }

  h2.title {
    font-size: 1.7rem;
  }

  h3.title {
    font-size: 1.5rem;
  }

  h4.title {
    font-size: 1.3rem;
  }

  .paragraph {
    color: var(--grayish-blue);
    font-size: 1rem;
    width: 470px;
    text-align: center;
  }

  /* BUTTON */

  .button {
    padding: 10px 20px;
    border-radius: 200px;
    border: none;
    font-size: .8rem;
    color: white;
  }

  .ios-button {
    background-color: var(--strong-cyan);
  }

  .mac-button {
    background-color: var(--light-blue);
  }

  .button-container {
    display: flex;
    gap: 10px;
    padding-top: 20px;
  }

  /*  */

  .header {
    background-image: url("./images/bg-header-desktop.png");
  }

  .header img {
    height: 75px;
    width: 75px;
  }

  /* COMPUTER SECTION */
  .computer-section {
    padding: 50px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .computer-paragraph {
    color: var(--grayish-blue);
    font-size: 0.9rem;
  }

  .computer-text-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .computer-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /*  */

  /* WORKFLOW */

  .workflow-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
  }

  .workflow-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .workflow-component img {
    width: 40px;
    height: 35px;
    margin-bottom: 10px;
  }

  .workflow-paragraph {
    color: var(--grayish-blue);
    font-size: 0.9rem;
    text-align: center;
  }

  /**/

  .devices-img {
    width: 100%;
  }

  .logo-containers {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo-containers img {
    width: 100px;
    height: 100%;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: center;

    background-color: var(--footer-color);
  }
  
  .footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 100px;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
  }

  .footer-logo {
    width: 50px;
  }

  .footer-links-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 10px 15px;
  }

  .footer-link {
    color: var(--dark-grayish-blue);
    font-size: 0.7rem;
  }

  .social-container {
    display: flex;
    justify-content: space-between;
  }

  .social-container img {
    width: 15px;
  }